{{ define "main" }}
  
  {{/*  {{- partial "heroes/split-with-screenshot-original.html" . -}}  */}}

  {{/*  {{- partial "feature-sections/with-large-screenshot.html" (dict "ctx" . "data" .Site.Params.mainFeature) -}}  */}}

  {{/*  {{- partial
    "content-sections/with-testimonial-and-stats.html" (dict "ctx" . "data" .Site.Params.aboutStats)
  -}}  */}}

  {{/*  {{- partial "feature-sections/grid-with-offset-icons.html" . -}}  */}}

  {{/*  {{- partial
    "cta-sections/brand-pannel-with-overlapping-image.html" .
  -}}  */}}

  {{/*  {{- partial
    "logo-clouds/split-with-grid-on-right.html" (dict "ctx" . "data" .Site.Params.stack)
  -}}  */}}

  {{/*  {{- partial
    "testimonials/with-overlapping-image.html" .
  -}}  */}}

  {{/*  {{- partial
    "blog-sections/3-column-cards.html" (dict "ctx" . "data" .Site.Params.blog)
  -}}  */}}

  <!-- {{- partial
    "logo-clouds/simple.html" .
  -}} -->
  {{/*  {{- partial
    "faq/centered-accordion.html" .
  -}}  */}}
  {{/*  {{- partial
    "contact-sections/split-two-tone.html" .
  -}}  */}}

{{ end }}
