html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.header_wrapper {
  height: 5rem;
  align-items: center;
}
.logo {
  width: 4rem;
  margin-left: 15rem !important;
}
.container {
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  align-items: center;
}
.banner-box {
  border: 1px solid black;
  padding-top: 4rem;
  padding-bottom: 6rem;
}
.banner-container {
  padding: 3rem 10rem;
  justify-content: center;
}
.banner-flex {
  flex-direction: column;  
}
.banner-text {
  display:flex;
  flex-direction: column;
  font-size: 110px;
  font-family: "Noto Sans";
  font-weight: 800;
  line-height: 106px;
  gap:10px;
}
.banner-desc {
  color: #8E8DA0;
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  padding-bottom: 30px;
}
.banner-img {
  width: 600px;
  align-items: "center";
  justify-content: "center";
}
.connect-wallet-btn {
  width: 240px;
  height: 60px;
  border-radius: 40px;
  padding: 0px 20px;
  line-height: 48px;
  font-size: 16px;
  font-weight: 600;
  background-color: #1799DE;
  color: #fff;
  cursor: pointer;
}
.connect-wallet-btn:hover {
  cursor: pointer;
  border: 2px solid rgb(157 83 182);
  color: rgb(157 83 182);
}