{{ $baseURL := site.Params.cloudinary_base_url }}

{{ $url := urls.Parse .Destination }}
{{ $file := path.Base ($url.Path) }}
{{ $sm := "f_auto,q_10,w_376" }}
{{ $ml := "f_auto,q_10,w_640" }}
{{ $lg := "f_auto,q_10,w_1024" }}
{{ $xl := "f_auto,q_10,w_1400" }}
{{ $imageDir := path.Split (path.Dir ($url.Path)) }}
{{ $transformation := "f_auto,q_10" }}
{{ $host := $url.Host }}
{{ if $host = "res.cloudinary.com" }}
 <figure>
   <picture>
     <source
       media="(max-width: 376px)"
       srcset="
         {{ $baseURL }}{{ $sm }}/{{ $imageDir.File }}/{{ $file }}
       "
     />
     <source
       media="(max-width: 640px)"
       srcset="
         {{ $baseURL }}{{ $ml }}/{{ $imageDir.File }}/{{ $file }}
       "
     />
     <source
       media="(max-width: 1024px)"
       srcset="
         {{ $baseURL }}{{ $lg }}/{{ $imageDir.File }}/{{ $file }}
       "
     />
     <source
       media="(max-width: 1600px)"
       srcset="
         {{ $baseURL }}{{ $transformation }}{{ $xl }}/{{ $imageDir.File }}/{{ $file }}
       "
     />
     <img src="{{ .Destination | safeURL }}" width="100%" height="100%" />
   </picture>
   {{ with .Title }}
     <figcaption>
       {{ . }}
     </figcaption>
   {{ end }}
 </figure>
 {{else}}
 <figure>
  <picture>
    <img src="{{ .Destination | safeURL }}" width="100%" height="100%" />
  </picture>
  {{ with .Title }}
    <figcaption>
      {{ . }}
    </figcaption>
  {{ end }}
</figure>
{{end}} 
