<script type="application/ld+json">
  { "@context": "https://schema.org",
   "@type": "Article",
   "headline": {{ .Title | plainify}},
   "alternativeHeadline": "This article is also about robots and stuff",
   "description": {{ with .Description | plainify }}{{ . }}{{ else }}{{ .Summary | plainify  }}{{ end -}},
   "articleBody": {{ .Content | safeJS | htmlUnescape | plainify }},
   {{ if .Params.cover.image -}}
   "image":
     {{- if (ne .Params.cover.relative true) -}}
     {{ .Params.cover.image | absURL }},
     {{- else -}}
     {{ (path.Join .RelPermalink .Params.cover.image ) | absURL }},
     {{- end}}
     {{- end -}}
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  {{- with (.Params.author | default .Site.Params.author) }}
  "author":
    {{- if (or (eq (printf "%T" .) "[]string") (eq (printf "%T" .) "[]interface {}")) -}}
  [{{- range $i, $v := . -}}
  {{- if $i }}, {{end -}}
  {
    "@type": "Person",
    "name": {{ $v }}
  }
  {{- end }}],
    {{- else -}}
  {
    "@type": "Person",
    "name": {{ . }}
  },
    {{- end -}}
  {{- end }}
 "award": "Best article ever written",
   "editor": "Craig Mount",
   "genre": "search engine optimization",
   "keywords": [
    {{- if .Params.keywords }}
    {{ range $i, $e := .Params.keywords }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
    {{- else }}
    {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
    {{- end }}
  ],
  "wordCount" : "{{ .WordCount }}",
   "publisher": {
    "@type": "{{- ( .Site.Params.schema.publisherType | default "Organization") | title -}}",
    "name": {{ .Site.Title }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ .Site.Params.assets.favicon | default "favicon.ico" | absURL }}
    }
  }
 "url": "http://www.example.com",
 "mainEntityOfPage": {
  "@type": "WebPage",
  "@id": {{ .Permalink | safeHTML }}
},
"dateCreated": "2015-09-20",
   }
  </script>
