<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "QAPage",
      "mainEntity": {
        "@type": "Question",
        "name": "What does Google mean by E-A-T.",
        "text": "Within the past few years, Google has started talking a lot about E-A-T in regards to SEO.",
        "answerCount": 1,
        "dateCreated": "2019-08-10T21:11Z",
        "author": {
          "@type": "Person",
          "name": "Patrick Coombe"
        },
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "In SEO, E-A-T stands for expertise, authority, and trustworthiness. It is a term derived directly from Google's own quality raters guidelines.",
          "upvotecount": 1,
          "dateCreated": "2019-08-12T21:11Z",
          "url": "https://elite-strategies.com/learn-seo/on-page-seo/eat-ymyl/",
          "author": {
            "@type": "Person",
            "name": "Patrick Coombe"
          }
        }
      }
    }
    </script>