<script type="application/ld+json">
  {
   "@context": "https://schema.org/",
   "@type": "WebPage",
   "name": "Slow down! Your answer goes here, if you play your cards right maybe Google will speak it out loud and you'll be famous.I would personally keep this at about 300-500 words.",
   "speakable":
   {
    "@type": "SpeakableSpecification",
    "xpath": [
      "/html/head/title",
      "/html/head/meta[@name='description']/@content"
      ]
    },
   "url": "http://www.example.com/page/whatever"
   }
    </script>
  