.hp_input_wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 31px;
}

.hp_input_label {
    position: absolute;
    margin-top: 6;
    padding:"0px 20px";
    line-height: 48px;
    font-size: 18px;
    top: -4;
    font-weight: 700;;
    color: #16103A;
    opacity: 0.8;
}

.hp_input_bar {
    position: relative;
    height: 56px;
    border-radius: 30px;
    min-width: 30rem;
    box-shadow: none;
    border: none;
    outline: 0;
    font-size: 16px;
    padding-right: 1rem;
    text-align: right;
    font-weight: 600;
    color: #8E8DA0;
}
